*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  list-style-type: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/***********************    HEADER     *************************/
.ContactoHeader{
  background-color: #a5cdf5;
  text-align: center;
  color: white;
  padding: 10px;
}

.NavBar{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #9ac7f5;
    border-bottom: 2px solid #9ac7f5;
}

.NavBarLinks{
  text-decoration: none;
  color: black;
  transition: all 0.1s;
  transition-timing-function: ease-out;
}

.NavBarLinks:Hover{
  color: #9ac7f5;
}

.logo{
  width: 200px;
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.BotonCart{
  display: flex;
  padding: 10px 20px 10px 20px;
  background-color: #9ac7f5;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-out;
  margin-top: 13px;
  
}

.BotonCart:hover{
  background-color: rgb(0, 0, 0);
}

.carritotxt{
  margin-left: 5px;
}

.numero{
  color: white;
  background-color:  #000000;
  border-radius: 20px;
  padding: 1px;
  margin-left: 5px;
  position: relative;
  bottom: 40px;
  left: 100px;
  padding: 3px;
}

/***********************    MAIN     *************************/


.banner{
  width: 100%;
}

.alerta{
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.titulo{
  text-align: center;
  padding: 30px;

}

.cardPos{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.productTxt{
  color:red;
  padding: 10px;
}

.productPrice{
  color: blue;
  
}

.productImg{
  width: 200px;
  border: 2px solid black;
}

/***********************    FOOTER     *************************/

