*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  list-style-type: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

a{
  display: inline
}


/***********************    HEADER     *************************/

body{

  background:
       
        linear-gradient(
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.2)
        ),
        
        url("https://wallpaperswide.com/download/clouds_12-wallpaper-3200x2400.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.367);
}

.ContactoHeader{
  background-color: #17171761;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  animation: Aparecer 4s;
}

.socials{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.socialsLogo{
  width: 30px;
}

.NavBar{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #ffffff;;
    background-color: #0000006a;
    margin-bottom: 30px;
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: bold;
}

.NavBarLinks{
  text-decoration: none;
  color: rgb(177, 175, 175);
  transition: all 0.1s;
  transition-timing-function: ease-out;
}

.NavBarLinks:Hover{
  color: white
}

.logoDsp{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  animation: Aparecer 2s;
}

@keyframes Aparecer {
  0%{
    filter: opacity(0%);
}
100%{
    filter: opacity(100%);
}
}

.logoCarmiel{
  width: 250px;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 100px;
}

.logoBienvenidos{
  width: 400px;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 50px;
}

.BotonCart{
  display: flex;
  padding: 10px 20px 10px 20px;
  background-color: #ffffffc6;
  border-radius: 20px;
  border: 2px solid white;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.BotonCart:hover{
  background-color: rgb(0, 0, 0);
  color: white;
}

.carritotxt{
  color: black;
}

.numero{
  color: rgb(255, 255, 255);
  background-color:  #000000;
  border-radius: 20px;
  position: relative;
  bottom: 50px;
  left: 75px;
  padding: 1px;
}

.link{
  position: relative;
  top: 10px;
}

/* / ***********************    MAIN     *************************/ 


.banner{
  border-radius: 20px;
  width: 1200px;
  display: block;
  margin: auto;
  border: 2px solid white;
  
}

.titulo{
  background-color: #0000006a;
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 40px;
  margin-top: 30px;
}

/*                   *******************   CARDS    **********************************   */

.cardPos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    padding-top: 20px;
    background-color: #0000006a;
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    border: 2px solid rgb(0, 0, 0);
}

.card{
  background-color: rgba(0, 0, 0, 0.444);
}


.productTxt{
  color:rgb(255, 255, 255);
  font-size: larger;
}

.productPrice{
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  position: relative;
  top: -52px;
  left: 209px;
  padding: 5px;
  display: inline
}

.productDesc{
  color: rgb(136, 136, 136);
  font-size: small;


}

.productImg{
  width: 230px;
  height: 250px;
  object-fit: cover;
  border-radius: 200px;
  padding: 10px;
}

.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonCardPos{
  display: flex;
  justify-content: center;
}

.botonCard{
  padding: 10px;
  /* margin-right: 10px; */
  border-radius: 20px;
  transition: all 0.2s;
  transition-timing-function: ease-out;
  margin-bottom: 10px;
  
}

.botonCard:hover{
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.cardBorder{
  transition: all 0.3s;
  transition-timing-function: ease-out;
  box-shadow: 11px 11px 8px 0px #ffffff;
  margin-bottom: 20px;
  filter: brightness(70%);
}

.cardBorder:hover{
  box-shadow: none;
  filter: brightness(100%);
}

/* ***********************    DETALLE DEL PRODUCTO  ************************/

.cardPos2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-top: 20px;
  gap: 66px;
  background: rgb(43, 43, 43);
  background: linear-gradient(90deg, rgba(43, 43, 43, 0.411) 0%, rgba(0, 0, 0, 0.615) 81%, rgba(255, 255, 255, 0) 100%); 
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.detailInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 30px;
}

.detailImg{
  color: white;
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: 1px solid black;
}

.detailProduct{
  color: rgb(253, 250, 250);
}

.detailDescription{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: larger;
}

.detailPrice{
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

.AddCartButton{
  display: flex;
}

.loadingImg{
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

/* *************************** LINKS ***************************/


.sinDecoracion{
  text-decoration: none;
}


/***********************    FOOTER     *************************/

.bg{
  background-color: #17171761;
  padding: 10px;
}

.footer{
  display: flex;
  background-color: #17171761;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 20px;
  flex-direction: column;
  border-top: 2px solid white;
}



/***********************    CART     *************************/


.fondo2{
  background-color: rgba(0, 0, 0, 0.504);
  padding: 50px;
  margin: 0px 50px 0px 50px;
  border-radius: 50px;
  margin-top: 50px;
}

.fondo{
  background: #ffffffb9;
  margin: 0px 150px 0px 150px;
  border-radius: 30px;
  
}

.items{
  display: grid;
  justify-items: center;
}


.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  box-shadow: 0px 5px 0px 0px rgba(172, 167, 167, 0.335);
  margin: 30px;
}

.itemsTotal{
  background-color: rgba(255, 255, 255, 0.363);
  border-radius: 20px;
  padding: 5px;
}

.productos{
  display: flex;
  margin: 40px;
  box-shadow: 0px 2px 0px 0px rgba(172, 167, 167, 0.335);
  align-items: center;
  justify-content: space-between;
}

.imagen{
  width: 120px;
  margin-right: 50px;
}

.producto{
  margin-right: 50px;
}

.precio{
  margin-right: 50px;
}

.cantidad{
  margin-right: 50px;
}
.remover{
  margin-right: 50px;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.remover:hover{
  background-color: red;
}

.checkout{
  display: flex;
  margin: 30px;
  gap: 20px;
  align-items: center;
}

.btncheckout{
  cursor: pointer;
  padding: 10px;
}

.volver{
  display: flex;
  gap: 400px;
  margin: 30px;
}

.btnvolver{
  cursor: pointer;
  padding: 10px;
}

.emptycart{
  padding: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.totalProductos{
  font-weight: bolder;
}

/***********************    CHECKOUT    *************************/


.checkoutBgd{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  padding-top: 20px;
  gap: 66px;
  background-color: #ffffff6a;
  border-radius: 50px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 40px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px 10px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;


}

.input{
  display: flex;
  flex-direction: column;
    align-items: center;
}

.buyComplete{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 50px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.463);
}


.ojuju {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


